<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="slick-1.8.1/slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">
    <title>レストランのサイト</title>
  </head>
  <body>
  <wrapper id="wrapper">
    <header>
      <a href="#">
        <img class="picture1" src="./images/header.jpg" width="120" height="120">
      </a>
    </header>
<nav id="nav-wrapper">
  <div class="ul-wrapper">
    <ul class="nav-logos">
      <li class="nav-logo"><a href="#">Top</a></li>
        <li class="nav-logo"><a href="#">Menu</a>
            <ul class="child">
              <li><a href="http://koushun.com/menu1.html"><img src="./images/food1.jpg" width="100" alt="img01"><span>一品料理</span></a></li>
          </ul>
        </li>
        <li class="nav-logo"><a href="#">Access</a></li>
    </ul>
  </div>
</nav>
<div class ="menus-wrapper">

  <div class="menus">
    <div class="menu-picture">
     <a href="#">
        <img class="food-picture" src="./images/food1.jpg" width="100" >
       </a>
       <a href="#">
          <img class="food-picture" src="./images/food2.jpg" width="100"  >
         </a>
       <a href="#">
          <img class="food-picture" src="./images/food3.jpg" width="100">
         </a>
    </div> 
  </div>
</div>

<div class="info">
    <p class="picup-menu">ピックアップメニュー</p>
  <div class="info-notice">
    <div class="today-menus">
        <div class="today-menu"> 
          <a class="fh5co-card" href="#"><img class="menus-picture" src="./images/menu_today4.jpg" alt="水蓮菜と白魚の炒め物" class="img-responsive"  width="200" height="200">
            <div class="fh5co-card-body">
                <h3>台湾風しゃぶしゃぶ</h3>
                <p class="discription">台湾しゃぶしゃぶです、日本と違いソースが辛いのが一つの特徴です。</p>
                <p class="cost">500台湾ドル</p>
            </div>
        </a>
        </div>
    </div>
      <div class="today-menus">
          <div class="today-menu">
              <a class="fh5co-card" href="#"><img class="menus-picture" src="./images/menu_today5.jpg" alt="水蓮菜と白魚の炒め物" class="img-responsive"  width="200" height="200">
                <div class="fh5co-card-body">
                    <h3>日本風しゃぶしゃぶ</h3>
                    <p class="discription">いわずと知れた日本のしゃぶしゃぶです</p>
                    <p class="cost">1500台湾ドル</p>
                </div>
            </a>
          </div>
      </div>
        <div class="today-menus">
            <div class="today-menu">
                <a class="fh5co-card" href="#"><img class="menus-picture" src="./images/menu_today6.jpg" alt="水蓮菜と白魚の炒め物" class="img-responsive"  width="200" height="200">
                  <div class="fh5co-card-body">
                      <h3>台湾風お好み焼き(牡蠣入り)</h3>
                      <p class="discription">台湾の人気料理の一つです。</p>
                      <p class="cost">120台湾ドル</p>
                  </div>
              </a>
            </div>
        </div>
  </div>
</div>
<footer class="footer">
  <div class="foot">
    <div class="footlink">
      <ul class="linkList">
        <li class="links"><a href="#">ホーム</a></li>
        <li class="links"> <a href="#">今月のお知らせ</a></li>
        <li class="links"><a href="#">お問い合わせ</a></li>
      </ul>
       <a href="#"><img class="footer-icon" src="./images/header.jpg" alt="アイコン" width="360" height="140" class="footLogo"></a>
   </div>
  </div>
</footer>
</wrapper>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="slick-1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="sample.js"></script> 
</body>
</html>
