.menus-wrapper{
  height:550px;
width:100%;
background-color:yellow;
}

.menus{
  height:100%;
  margin: 0 auto;
  padding:35px 15px;
  width: 100%;
  color: #333;

}

.menu-picture{
height:400px;
}

.food-picture{
  height:400px;
  width:100%;
}

